.header {
    font-size: 3.2rem;
    text-align: center;
}

.header-subtitle {
    margin-top: 0;
    color: #82817d;
    text-align: center;
}

.regular-description {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
    margin-right: 10rem;
    margin-left: 10rem;
}

.card-img-top {
    width: 100%;
    height: 256px;
}
