#collasible-nav-dropdown {
    width: 200px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
    margin-bottom: 6px;
    margin-right: 5px;
}

.navbar-brand {
    color: white;
}